body {
  margin: 0px;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

.post-container {
  background-color: #fffafa;
  width: 70%;
  height: 100%;
  margin: 0px auto 0px auto;
}
.post-container .post {
  border-width: 0.5px;
  border-style: solid;
  padding: 20px;
}

.post-container .post-content {
  font-family: "Open Sans", sans-serif;
}

.post-container .date {
  font-family: "Roboto", sans-serif;
  color: #008080;
}
